html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
	  -ms-text-size-adjust: 100%;
}
body{  
	margin: 5px;
}
div {
	border: 0 solid;
}
.noselect {
    cursor:default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.th {
  background-color: transparent;
}
.spaceUnder {
  margin-bottom: 24px;
}